
@{
    ViewBag.Title = "ThankYouPage";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/MyStyleSheet.css" rel="stylesheet" />

<div class="jumbotron text-center">
    <h1 class="display-3" style="padding-top:120px;">Thank You!</h1>
    <p class="lead" style="padding-bottom:60px;"><strong>Please Stay Connected with us.</strong></p>  
</div>

