@{
    ViewBag.Title = "About";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/MyStyleSheet.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-right jumbotron" style="padding-right:300px;">About Us</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="~/Content/Image/abt.jpg" />
        </div>
        <div class="col-md-8">
            <h4 class="text-justify">
                Our values ambition, passion and action. By combining cutting-edge technology with best practice, our mission is to become the leading global platform for digital learning content in order to democratise education and empower both educators and learners to reach their full potential.<br /><br />
                We know that real learning should be immersive, and we believe that with the right tools everyone can create great learning content. We also believe that learners can achieve more by working together than they can alone.
                That is why our organization is a social learning platform that combines the benefits of powerful learning tools with the support of an active community.<br /><br />
                Our success is built on developing an active learning community that creates and shares quality learning content. The more you use GoConqr, the more we get to know your learning requirements and how we can best meet them.
                That is why our tools and technologies continue to evolve – because we know that’s what our users do. It means that your learning journey is our learning journey too.<br /><br />
                
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-justify">
            <h4><br />
                ‘Online Exam’ means the candidate sits in front of a computer at the examination centre and the questions are presented on the computer monitor and the candidate answers the questions on the computer through the use of mouse. Unlike the traditional paper-pencil based test which is generally offered on a single day to all candidates, Online Exam will be offered over a period of time and the candidate can choose the Center, the Day and Time of his/her convenience to take the test.<br /><br />
                In education assessment, large-scale examining bodies find the journey from traditional paper-based exam assessment to fully electronic assessment a long one. Practical considerations such as having the necessary IT hardware to enable large numbers of student to sit an electronic examination at the same time, as well as the need to ensure a stringent level of security (for example, see: Academic Dishonesty) are among the concerns that need to resolved to accomplish this transition.<br /><br />
                E-marking is one way that many exam assessment and awarding bodies, such as Cambridge International Examinations, are utilizing innovations in technology to expedite the marking of examinations (see: Electronic Marking). In some cases, e-marking can be combined with electronic examinations, whilst in other cases students will still handwrite their exams with papers scanned in securely and uploaded into an e-marking system.

                An innovative, award-winning eLearning & technology company with a personal approach to our customers as true long term partners.

                Online exams is a web based interactive, independent and intelligent examination platform for students. This innovative platform extend the e-learning capabilities of any educational institution by providing them a real time analysis on their institution health. This platform covers wide range of institutions and boards.
                <br /><br /><br /><br /><br />
            </h4>
        </div>
    </div>
</div>