@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/MyStyleSheet.css" rel="stylesheet" />

<div class="container">
    <div class="row">        
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div id="box1">
                            <div class="carousel-caption" style="top:100px; left:-30px;">
                                <h2 style= "font-weight:bold; font-size:45px;">Practice Online Exam</h2>
                                <h4 style="font-size:25px;">Our Unique Designed Practice Module Help You To Gain<br /> Knowledge Even When You Are Giving Exams</h4>
                            </div>
                        </div>
                        </div>
                    <div class="item">
                        <div id="box2">
                            <div class="carousel-caption text-center" style="color:white;top:150px; right:-30px;">
                                <h2 style="font-weight:bold; font-size:45px;">SMS & Email Notification</h2>
                                <h4 style="font-size:25px;">We Will Update You Wherever You Are In The<br /> World With Our World Class Notification Platform</h4>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div id="box3">
                            <div class="carousel-caption" style="top:200px; right:-30px; color:#000033">
                                <h2 style="font-weight:bold; font-size:45px;">Round The Clock Support</h2>
                                <h4 style="font-size:25px;">We Will Make You Feel The Comfort Of<br /> Running Exam Online</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    