
@{
    ViewBag.Title = "Confirm Email Address Sent";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Thank you for Registration to our site</h1>
            <h4> check your email, a Confirmation email is sent to @ViewBag.Email</h4>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
