body{
    margin:0;
    padding:0;   
}


#box{
    height: 100vh;
    width: 100%;
    background-image: url('Image/Abstract.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:table;
    background-attachment:fixed;
}
#panelbg{
    border:0px;
    background:rgba(0,0,0,0.5);
    color:#fff;
    text-align:center;
    padding-top:30px;
}
#panelbg:hover{
    background:rgba(0,0,0,0.7);
}

#panelReg{
    background-color:rgba(255, 255, 153, 0.3)
}

#panelReg:hover{
    background-color:rgb(255, 255, 153)
}

#panelRes{
    background-color:rgba(153, 255, 214,0.3);
    border-radius:20px;
}

#panelRes:hover{
    background-color:rgba(128, 255, 204,0.6)
}

.btn-success{
    border:0px;
    border-radius:0px;
}
#box1{
    height: 100vh;
    width: 100%;
    background-image: url('Image/Bg2.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:table;
    background-attachment:fixed;
}
#box2{
    height: 100vh;
    width: 100%;
    background-image: url('Image/Bg1.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:table;
    background-attachment:fixed;
}
#box3{
    height: 100vh;
    width: 100%;
    background-image: url('Image/Bg.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:table;
    background-attachment:fixed;
}

#boxReg{
    height: 100vh;
    width: 100%;
    background-image: url('Image/Regbg.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:table;
    background-attachment:fixed;
}

#navbar-fixed-left{
    width:180px;
    height:100vh;
    position:fixed;
    border-radius:0;
}
#LoginBox{
    height: 100vh;
    width: 100%;
    background-image: url('Image/Login.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:table;
    background-attachment:fixed;
}

#boxResult{
    height: 100vh;
    width: 100%;
    background-image: url('Image/Result.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:table;
    background-attachment:fixed;
}